PORT= yourportnumber
NODE_ENV= environment variable
CLIENT_URI = yourclienturl
MONGO_URI = yourmongouri

JWT_SECRET_KEY = yourjwtsecret

JWT_EXPIRY = yourjwtexpiry

CLOUDINARY_CLOUD_NAME = yourcloudinarycloudname

CLOUDINARY_API_KEY = yourcloudinaryapikey

CLOUDINARY_API_SECRET = yourcloudinaryapisecret

#razorpay keys
RAZORPAY_API_KEY = your_razor_pay_api_key
RAZORPAY_API_KEY_SECRET = your_razor_pay_api_secret